<div class="container text-center">
    <h6 class="subtitle">Contact</h6>
    <h6 class="section-title mb-4">Get In Touch With Me</h6>
    <!-- <p class="mb-5 pb-4"> Let any <br> rerum commodi corrupti, temporibus non quam.</p> -->

    <div class="contact text-left">
        <div class="form">
            <!-- <h6 class="subtitle">Available 24/7 (Maybe :))</h6> -->
            <!-- <h6 class="section-title mb-4">Get In Touch</h6> -->
            <form>
                <div class="form-group">
                    <input type="name" class="form-control" id="exampleInputName" aria-describedby="emailName" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <textarea name="contact-message" id="" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block rounded w-lg">Send me a message</button>
            </form>
        </div>
        <div class="contact-infos">
            <div class="item">
                <i class="ti-location-pin"></i>
                <div class="">
                    <h5>Location</h5>
                    <p> 702 Xa Lo Ha Noi, Hiep Phu Ward, Thu Duc District </p>
                </div>                          
            </div>
            <div class="item">
                <i class="ti-mobile"></i>
                <div>
                    <h5>Phone Number</h5>
                    <p>(+84) 374 370 101</p>
                </div>                          
            </div>
            <div class="item">
                <i class="ti-email"></i>
                <div class="mb-0">
                    <h5>Email Address</h5>
                    <p>nguyenltng@gmail.com</p>
                </div>
            </div>
        </div>                  
    </div>
</div>  
<div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3381.8255523009934!2d106.77129888409858!3d10.843932207773742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752709c18c4a9b%3A0x53dfb522c6349b73!2zNzAyIFhMIEjDoCBO4buZaSwgSGnhu4dwIFBow7osIFF14bqtbiA5LCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmggNzAwMDAsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1677575327683!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div> 