<div class="container text-center">
    <h6 class="subtitle">Portfolio</h6>
    <h6 class="section-title mb-5">Check My Wonderful Works</h6>
    <!-- <p class="mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias dignissimos. <br> rerum commodi corrupti, temporibus non quam.</p> -->

    <div class="row">
        <div class="col-sm-6">
            <div class="img-wrapper">
                <a id="img-neutrovis-1" href="/assets/imgs/neutrovis/logo.jpeg" data-fancybox="neutrovis">
                    <img src="/assets/imgs/neutrovis/logo.jpeg">
                </a>
                <div id="neutrovis" class="overlay">
                    <div class="overlay-infos">
                        <h5>NEUTROVIS - NTV BIGBANG</h5>
                    </div>
                </div>
                <div id="images-folio-1" hidden>
                    <a href="/assets/imgs/neutrovis/pic-2.png" data-fancybox="neutrovis">
                        <img src="/assets/imgs/neutrovis/pic-2.png">
                    </a>
                    <a href="/assets/imgs/neutrovis/pic-3.png" data-fancybox="neutrovis">
                        <img src="/assets/imgs/neutrovis/pic-3.png">
                    </a>
                    <a href="/assets/imgs/neutrovis/pic-4.png" data-fancybox="neutrovis">
                        <img src="/assets/imgs/neutrovis/pic-4.png">
                    </a>
                    <a href="/assets/imgs/neutrovis/pic-5.png" data-fancybox="neutrovis">
                        <img src="/assets/imgs/neutrovis/pic-5.png">
                    </a>
                    <a href="/assets/imgs/neutrovis/pic-6.png" data-fancybox="neutrovis">
                        <img src="/assets/imgs/neutrovis/pic-6.png">
                    </a>
                    <a href="/assets/imgs/neutrovis/pic-7.png" data-fancybox="neutrovis">
                        <img src="/assets/imgs/neutrovis/pic-7.png">
                    </a>
                    <a href="/assets/imgs/neutrovis/pic-8.png" data-fancybox="neutrovis">
                        <img src="/assets/imgs/neutrovis/pic-8.png">
                    </a>
                    <a href="/assets/imgs/neutrovis/pic-9.png" data-fancybox="neutrovis">
                        <img src="/assets/imgs/neutrovis/pic-9.png">
                    </a>
                    <a href="/assets/imgs/neutrovis/pic-10.png" data-fancybox="neutrovis">
                        <img src="/assets/imgs/neutrovis/pic-10.png">
                    </a>
                </div>
            </div>

            <div class="img-wrapper">
                <img src="/assets/imgs/viric/viric.png" alt="Viric Blog">
                <div class="overlay">
                    <div class="overlay-infos">
                        <h5>Viric Blog</h5>
                        <!-- <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a> -->
                        <a href="https://blog-viric.netlify.app/" target="_blank"><i class="ti-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            
            <div class="img-wrapper">
                <img src="/assets/imgs/editor-x/editor-x.png" alt="">
                <div class="overlay">
                    <div class="overlay-infos">
                        <h5>Editor X - Magazine</h5>
                        <!-- <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a> -->
                        <a href="https://editor-x-blog.netlify.app/" target="_blank"><i class="ti-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="img-wrapper">
                <img src="https://nguyenltng.github.io/banica/assets/img/hero-img.png" alt="">
                <div class="overlay">
                    <div class="overlay-infos">
                        <h5>Banica - Landing Page</h5>
                        <!-- <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a> -->
                        <a href="https://nguyenltng.github.io/banica/" target="_blank"><i class="ti-link"></i></a>
                    </div>
                </div>
            </div>
            <!-- <div class="img-wrapper">
                <a id="img-iga-1" href="/assets/imgs/folio-2.jpg" data-fancybox="iga">
                    <img src="/assets/imgs/folio-2.jpg">
                </a>
                <div id="iga" class="overlay">
                    <div class="overlay-infos">
                        <h5>IGA</h5>
                    </div>
                </div>
                <div id="images-folio-1" hidden>
                    <a href="assets/imgs/folio-2.jpg" data-fancybox="iga">
                        <img src="assets/imgs/folio-2.jpg">
                    </a>
                    <a href="assets/imgs/folio-2.jpg" data-fancybox="iga">
                        <img src="assets/imgs/folio-2.jpg">
                    </a>
                    <a  href="assets/imgs/folio-2.jpg" data-fancybox="iga">
                        <img src="assets/imgs/folio-2.jpg">
                    </a>
                    <a  href="assets/imgs/folio-2.jpg" data-fancybox="iga">
                        <img src="assets/imgs/folio-2.jpg">
                    </a>
                </div>
            </div> -->
        </div>
        <!-- <div class="col-sm-4">
            <div class="img-wrapper">
                <img src="assets/imgs/folio-5.jpg" alt="">
                <div class="overlay">
                    <div class="overlay-infos">
                        <h5>Project Title</h5>
                        <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                        <a href="javascript:void(0)"><i class="ti-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="img-wrapper">
                <img src="assets/imgs/folio-6.jpg" alt="">
                <div class="overlay">
                    <div class="overlay-infos">
                        <h5>Project Title</h5>
                        <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                        <a href="javascript:void(0)"><i class="ti-link"></i></a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

</div>

<script type="text/javascript" src="/components/portfolio/index.js"></script>
<script type="text/javascript" src="/assets/js/jquery.fancybox.min.js"></script>
