<div class="container mt-5">
    <div class="row text-center text-md-left">
        <div class="col-md-3">
            <img src="assets/imgs/avatar-4.jpg" alt="" class="img-thumbnail mb-4">
        </div>
        <div class="pl-md-4 col-md-9">
            <h6 class="title">Le Thanh Nguyen</h6>
            <p class="subtitle">Back-end Developer</p>
            <p>I'm desire to become an excellent employee at the company through devoted efforts,
                being able to work for a long time and further advancing at the company, striving to
                become a key member after 2 years of work.</p>
            <!-- <button class="btn btn-primary rounded mt-3">DOWNLOAD CV</button>                    -->
        </div>
    </div>
</div>