<div class="container mt-5">
    <div class="row text-center text-md-left">
        <div class="col-md-3">
            <img src="assets/imgs/avatar-4.jpg" alt="" class="img-thumbnail mb-4">
        </div>
        <div class="pl-md-4 col-md-9">
            <h6 class="title">Le Thanh Nguyen</h6>
            <p class="subtitle">Back-end Developer | Web Developer </p>
            <p>My full name is Le Thanh Nguyen. I’m originally from Quang Nam province but now I’m base in HCMC. </p>
            <p>
                I’m graduated at VNUHCM-UIT 2 years ago and my major is Information System. 
            </p>
            <!-- <button class="btn btn-primary rounded mt-3">DOWNLOAD CV</button>                    -->
        </div>
    </div>
</div>